<script setup lang="ts">
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
import UserCarList from "./UserCarList.vue";

import { useUserStore } from "../../stores/user";
import { mdiCardOutline, mdiTable } from "@mdi/js";

const userStore = useUserStore();
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <UserList v-if="userStore.isTable"></UserList>
        <UserCarList v-if="!userStore.isTable"></UserCarList>
        <UserDialog></UserDialog>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="userStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="userStore.isTable = false"
      ></v-btn>
    </v-row>
  </v-container>
</template>

<style scoped></style>
